//! This file is using BEM as a methodology to create hierarchy and organization of the styles
@use "reset";
@use "scroll-style";

body #root {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100vw;
    font-family: "Roboto", sans-serif;
}

.container {
    background: rgb(73, 73, 75);
    background: linear-gradient(190deg, rgba(73, 73, 75, 1) 0%, rgba(27, 27, 28, 1) 100%);
    border-radius: 8px;
    padding: 2rem 1.5rem;
    width: 90%;
    box-shadow:
        20px 20px 60px #bdbdc2,
        -20px -20px 60px #c0c0c4;
    &__glass {
        background-color: #ffffff;
        border-radius: 0.5rem;
        padding: 0.8rem 1.4rem;
        width: 100%;
        box-shadow:
            5px 5px 10px #313133,
            -5px -5px 10px #29292b;
    }
    &__screen {
        background-color: #818286;
        border-radius: 0.2rem;
        display: flex;
        flex-direction: row-reverse;
        padding: 1rem;
    }
    &__value {
        font-size: 1.5rem;
        font-weight: 600;
        height: 1.4rem;
    }
}
@media screen and (min-width: 700px) {
    .container {
        width: 40%;
    }
}

.btn-block {
    display: grid;
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 1rem;
    width: 100%;
    &__btn {
        align-items: center;
        border-radius: 0.3rem;
        cursor: pointer;
        display: flex;
        font-size: 1.5rem;
        font-weight: 700;
        height: 3rem;
        justify-content: center;
        &::selection {
            background-color: rgba(255, 255, 255, 0);
        }
    }
    & .btn--orange {
        background: #f7941d;
        border-radius: 4px;
        transition: all 0.1s ease-in-out;
        box-shadow:
            5px 5px 10px #313133,
            -5px -5px 10px #29292b;
        &:active {
            background: rgb(173, 103, 18);
            background: radial-gradient(circle, rgba(173, 103, 18, 1) 0%, rgba(230, 141, 34, 1) 100%);
            border: 0.2rem solid rgba(247, 148, 29, 0.5);
        }
    }
    & .btn--black {
        background-color: #171717;
        transition: all 0.1s ease-in-out;
        border-radius: 4px;
        transition: all 0.1s ease-in-out;
        box-shadow:
            5px 5px 10px #313133,
            -5px -5px 10px #29292b;

        &:active {
            background: rgb(43, 43, 43);
            background: radial-gradient(circle, rgba(43, 43, 43, 1) 0%, rgba(8, 8, 8, 1) 100%);
            border: 0.2rem solid rgba(23, 23, 23, 0.5);
        }
    }
    & .btn--blue {
        background-color: #4f5672;
        transition: all 0.1s ease-in-out;
        border-radius: 4px;
        transition: all 0.1s ease-in-out;
        box-shadow:
            5px 5px 10px #313133,
            -5px -5px 10px #29292b;
        &:active {
            background: rgb(42, 47, 65);
            background: radial-gradient(circle, rgba(42, 47, 65, 1) 0%, rgba(32, 36, 50, 1) 100%);
            border: 0.2rem solid rgba(79, 86, 114, 0.5);
        }
    }
    & .btn--grey {
        background-color: #6d6e72;
        transition: all 0.1s ease-in-out;
        border-radius: 4px;
        transition: all 0.1s ease-in-out;
        box-shadow:
            5px 5px 10px #313133,
            -5px -5px 10px #29292b;
        &:active {
            background: rgb(83, 84, 87);
            background: radial-gradient(circle, rgba(83, 84, 87, 1) 0%, rgba(58, 59, 61, 1) 100%);
            border: 0.2rem solid rgba(109, 110, 114, 0.5);
        }
    }
}
